{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<div class = "page-container">
  <aside class="sidebar">
      <ul class="sidebar-nav">
          <li><a href="#description" class="active">Description</a>
          <!-- <ul class = "sidebar-subnav">
            <li><a href="#subtitle1" class="active">Subtítol 1
              <ul class = "subnav">
                <li><a href="#subtitle2" class="active">Subtítol 2</a></li>
              </ul>
            </li>
          </ul>
          </li>
          <li><a href="#buttons">Botons</a></li>
          <li><a href="#cards">Cartes</a></li>
          <li><a href="#accordions">Desplegables</a></li>
          <li><a href="#lists">Llistes</a></li>
          <li><a href="#images">Imatges i vídeos</a></li>
          <li><a href="#references">References</a></li> -->
      </ul>
  </aside>
  
  <div class = "page-content">
    <div class = "header">
      <h1 class = "page-title">Project Description</h1>
      <p class = "page-desc">A next generation tool to control genetic expression during translation</p>
    </div>
    <div class = "content"> 
      <section id = "description">
        <h1 class ="section-title">Description</h1>
        <p class="section-text">
          Skippit is a synthetic biology project that explores an innovative approach to gene regulation by targeting the translational level, rather than relying on conventional transcriptional control. Classical systems based on promoters and protein regulators often face important limitations, such as slow response times and reduced modularity. To overcome these challenges, Skippit proposes a novel RNA-based strategy that enables ligand-dependent ON/OFF gene expression, without the need for protein regulators.
          <br><br>
          Our design is based on the combination of stop codon readthrough (SCR), a natural process in which the ribosome bypasses a stop codon under specific molecular conditions, with riboswitches, RNA structures capable of changing conformation in response to small molecules. By coupling these two mechanisms, we create a modular and highly tunable RNA switch that directly controls protein synthesis.
          <br><br>
          To implement this idea, we have developed a computational toolkit that streamlines the design of these translational switches. The software uses coevolutionary analysis to identify conserved structural regions and integrates multiple steps of the design process, including sequence processing, secondary structure prediction, linker engineering, and free energy evaluation. This makes it possible to rapidly prototype RNA devices whose function depends on structure, and extend the system to a broad range of ligands and biological contexts.
          <br><br>
          Skippit aims to provide a versatile and scalable platform for translational control in synthetic biology, offering a new layer of regulation that is fast, orthogonal, and easily programmable.
        </p>
      </section>
    </div>
  </div>
</div>

{% endblock %}
