{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}


<div class = "page-container">

  <!-- <aside class="sidebar">
      <ul class="sidebar-nav">
          <li><a href="#intro" class="active">Introducció</a></li>
          <li><a href="#buttons">Botons</a></li>
          <li><a href="#accordions">Acordions</a></li>
          <li><a href="#cards">Cartes</a></li>
          <li><a href="#typography">Tipografia</a></li>
      </ul>
  </aside> -->
  
  <div class = "page-content">
    <div class = "header">
      <h1 class = "page-title">Human Practices</h1>
    </div>
    <div class = "content"> 
      <section id = "intro">
        <h1 class ="section-title">Títol 1</h1>
        <h2 class = "section-subtitle">Subtítol 1</h2>
        <h3 class = "section-subtitle2">Subtítol 2</h3>
        <h4 class = "section-subtitle3">Subtítol 3</h4>
        <p class = "section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
      </section>
    </div>
  </div>
</div>


{% endblock %}
