{% extends "layout.html" %}
  
{% block title %}Plant{% endblock %}
{% block lead %}This award is designed to celebrate exemplary work done in plant synthetic biology.{% endblock %}

{% block page_content %}

<div class = "page-container">
  <aside class="sidebar">
      <ul class="sidebar-nav">
          <li><a href="#parts" class="active">New Basic Parts</a></li>
      </ul>
  </aside>
  
  <div class = "page-content">
    <div class = "header">
      <h1 class = "page-title">Parts</h1>
      <p class = "page-desc">Discover the power of RNA with our part collection.</p>
    </div>
    <div class = "content"> 
      <section>
        <div class="overview-wrapper">
          The SKIPPIT part collection gives you all the tools needed to <span class = "bold-word">control translation</span> at the STOP codon site. It contains the parts that compose our <span class = "bold-word">riboswitch</span>, as well as parts to test and characterise it, offering a full <span class = "bold-word">starter kit</span> for anyone who wants to experiment with this brand new technology. 
        </div>
        <p class="section-text">
          For the last 50 years, transcription-level control has dominated gene and protein expression regulation. To go beyond, we need more tools that allow further, finer, control over our genes, and that means expanding the foundations of synthetic biology. SKIPPIT has revolved from the start to doing just that, which we have accomplished by generating a new tool for translation-level control. 
          <br><br>
          Our part collection is composed of multiple basic parts, which constitute our Composite parts. These can either be riboswitches or Device parts to test said riboswitches. Overall, the University of Barcelona 2025 iGEM team offers widely versatile, documented, tools for anyone interested in exploring the world of translation-level control. You can find our part collection <a class="link-text" href="https://registry.igem.org/collections/0fee4d88-b063-4e24-929b-e03a1283de71">here</a>. 
        </p>
        <div class ="accordion-wrapper">
          <div class="accordion">
            <div class="accordion-header">
                <div class="accordion-title">Highlighting innovation</div>
                <div class="accordion-icon"></div>
            </div>
            <div class="accordion-content">
                <div class="accordion-content-inner">
                  <p class="section-text">
                    Throughout the last 21 years of the iGEM competition, the Selenocysteine Insertion Sequence (SECIS) has not once been the focus of an iGEM project. As a matter of fact, <span class = "bold-word">no project before has revolved on the study and implementation of STOP codon readthroughs</span>, whatsoever. They have only been used occasionally in experiments to test other parts.
                  </p>
                  <p class="section-text">
                    It is undeniable that SKIPPIT is the first of its kind in the iGEM competition, and that it is paving the way to a new approach of controlling protein expression, through unique control of translation. <span class="bold-word">We are pushing boundaries that the iGEM competition did not even know existed.</span>
                    <br><br>
                    We are the <span class="bold-word">first team to publish the SECIS sequence</span> to the iGEM registry. This part is so intricate and unique in its functionality and activity, that we needed the iGEM registry team to add a new “type” to better classify this part. It is, after all, a 3’-UTR sequence that regulates ribosomal function.
                    <br><br>
                    Although hundreds of teams have developed RNA switches and riboswitches, only some have been able to code their <span class="bold-word"> own software model</span> to design them, and even less have had the time to test their creation in the wet lab. At SKIPPIT we have been able to do all of the above in human cells, to add to its complexity. The result has been the creation of a riboswitch that allows the user to <span class="bold-word">control a STOP codon readthrough’s activity</span>, with a dual-protein regulatory approach. This riboswitch is particularly special due to how far the riboswitch sequence can be from its action site. This means that the riboswitch doesn’t need to be translated to perform its function, and that it will not affect the protein sequence. To highlight just how innovative this technology is, there is no previous literature describing the existence of a STOP codon readthrough RNA switch. 
                    We hope that our project can inspire many of the future iGEM teams to <span class="bold-word">push the boundaries</span> of what is known, and to create brand new technologies that define the future of synthetic biology. 
                  </p>
                </div>
            </div>
          </div>
        </div>  
      </section>
      <section id = "parts">
        <h1 class ="section-title">New Basic Parts</h1>
        <p class="section-text"> 
          The SKIPPIT STOP-Codon Readthrough Riboswitch was designed using our software tool TADPOLE, and as such it is composed of three main parts: 
          <ol>
            <li>Conformational RNA Element (CRE): RNA elements which suffer a structural shift when exposed to a certain stimulant, such as an aptamer, miniRNA or a temperature-sensitive motif.</li>
            <li>Functional RNA Element (FRE): RNA elements whose catalytic or regulatory activity relies on their secondary structure, such as a frameshift, ribozyme or STOP codon readthrough element.</li>
            <li>Linker: Designed by our software tool and model TADPOLE, that considers the optimal energy of secondary structures to generate these synthetic linkers.</li>
          </ol>
        </p>
        <div class= "video" style="position: relative; padding-top: 56.25%;">
          <!-- <iframe title="Barcelona-UB: Switch On/Off (2025)" width="80%" height="80%" src="https://video.igem.org/videos/embed/p48BH5uKQAHwLpVJusJndB?loop=1&amp;autoplay=1" style="border: 0px; position: absolute; inset: 0px;" allow="fullscreen" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe> -->
        </div> 
        <p class="section-text">
          We have categorised the basic parts in our collection as CREs, FREs, Linkers, Characterising, and Structural. The “type” corresponds to the part type in the iGEM registry. 
        </p> 
        <table class="parts-table">
          <tr>
            <th>Registry Code</th>
            <th>Part name</th>
            <th>Category</th>
            <th>Type</th>
          </tr>
          <tr>
            <td><a href="https://registry.igem.org/parts/bba-25ermnvd">BBa_25ERMNVD</a></td>
            <td>SECIS</td>
            <td>FRE</td>
            <td>3'UTR</td>
          </tr> 
        </table>
      </section>
      <section class ="references">
        <h1 class="section-title">References</h1>
        <ol>
          <li>WHO EMRO | Stroke, Cerebrovascular accident | Health topics.</li>
          <li>Feigin, V. L., Nguyen, G., Cercy, K., Johnson, C. O., Alam, T., Parmar, P. G., Abajobir, A. A., Abate, K. H., Abd-Allah, F., Abejie, A. N., Abyu, G. Y., Ademi, Z., Agarwal, G., Ahmed, M. B., Akinyemi, R. O., Al-Raddadi, R., Aminde, L. N., Amlie-Lefond, C., Ansari, H., … Roth, G. A. (2018). GLOBAL, REGIONAL, AND COUNTRY-SPECIFIC LIFETIME RISK OF STROKE, 1990–2016. The New England Journal of Medicine, 379(25), 2429–2437. <a class="link-text" src="https://doi.org/10.1056/NEJMoa1804492">Paper</a></li>
          <li>Ischaemic stroke | Stroke Association. <a class="link-text" src="https://www.stroke.org.uk/stroke/types/ischaemic">Website</a></li>
        </ol>
      </section>
    </div>
  </div>
</div> 
<style>
.overview-wrapper{
  /* background: linear-gradient(135deg, #fef2f2 0%, #fecaca 100%); */
  background: var(--color-soft-1);
  border-radius: 12px;
  padding: 2rem;
  margin: 2rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.parts-table{
  width:100%;

}
.parts-table th{
  background-color: var(--color-soft-1);
}
</style>

{% endblock %}
