{% extends "layout.html" %}
  
{% block title %}Software{% endblock %}
{% block lead %}Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.{% endblock %}

{% block page_content %}

<div class = "page-container">
  <aside class="sidebar">
      <ul class="sidebar-nav">
          <li><a href="#intro" class="active">First section</a></li>
      </ul>
  </aside>
  
  <div class = "page-content">
    <div class = "header">
      <h1 class = "page-title">Software</h1>
      <p class = "page-desc">Page description</p>
    </div>
    <div class = "content"> 
      <section id = "intro">
        <h1 class ="section-title">First section</h1>
        <p class="section-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et augue in sem semper accumsan. Sed risus dolor, malesuada convallis lorem id, dignissim pharetra tellus. Ut convallis enim a odio porta efficitur. Nam dapibus, nunc a consequat pulvinar, massa sapien tincidunt dolor, a malesuada turpis mauris placerat tellus. In non nisi erat. Proin ullamcorper sagittis ex, sed accumsan justo ullamcorper pulvinar. Aenean vulputate sapien velit, at ullamcorper metus imperdiet ut.
        <br><br>
        Aliquam quis est et velit pretium facilisis ut quis ex. Donec venenatis neque ac odio semper, sit amet gravida orci consequat. Integer sollicitudin a ex ultricies finibus. Vivamus tempor dignissim sapien, in dictum nibh aliquet quis. Donec elementum luctus velit eu efficitur. Quisque mattis dolor rhoncus felis feugiat, id tristique felis varius. Aliquam justo ligula, sollicitudin non mauris ut, sollicitudin commodo tortor. Nulla id leo augue. Pellentesque libero arcu, aliquam consectetur lacus et, mattis condimentum lectus. Nulla turpis elit, posuere nec odio a, euismod mattis quam. Quisque nec quam ante. In ultricies nunc velit, nec tempus nisi varius eu. 
        </p>
      </section>
      <section class ="references">
        <h1 class="section-title">References</h1>
        <ol>
          <li>WHO EMRO | Stroke, Cerebrovascular accident | Health topics.</li>
          <li>Feigin, V. L., Nguyen, G., Cercy, K., Johnson, C. O., Alam, T., Parmar, P. G., Abajobir, A. A., Abate, K. H., Abd-Allah, F., Abejie, A. N., Abyu, G. Y., Ademi, Z., Agarwal, G., Ahmed, M. B., Akinyemi, R. O., Al-Raddadi, R., Aminde, L. N., Amlie-Lefond, C., Ansari, H., … Roth, G. A. (2018). GLOBAL, REGIONAL, AND COUNTRY-SPECIFIC LIFETIME RISK OF STROKE, 1990–2016. The New England Journal of Medicine, 379(25), 2429–2437. <a class="link-text" src="https://doi.org/10.1056/NEJMoa1804492">Paper</a></li>
          <li>Ischaemic stroke | Stroke Association. <a class="link-text" src="https://www.stroke.org.uk/stroke/types/ischaemic">Website</a></li>
        </ol>
      </section>
    </div>
  </div>
</div>

{% endblock %}
